<h1 class="heading">Edit Listing</h1>

<%# render the partial file _listing_form.html.erb from shared folders %>
<%# Assign the variables here so it can understand the variables in the form %>
<%= render "shared/listing_form", listing: @listing %>