<h1>Listing Detail</h1>

<div>
    <strong><%= @listing.listing_title %></strong>
</div><br>

<div>
    <strong>Console Type: <%= @listing.console.console_type %></strong>
</div><br>

<div>
    <strong><%= @listing.description %></strong>
</div><br>

<div>
    <strong>$<%= @listing.price %></strong>
</div>
