<%# This is a partial of heading where each pages of the app contains the heading and it links to the index/home page%>
<section>  
    <h1 class= "heading"><%= link_to "GameHub", listings_path %></h1>
</section>